<section id="search-modal" class="modal">
  <form>
    <div class="search-input">
      <input type="text" placeholder="Search from site">
      <button class="">Go</button>
    </div>
  </form>

  <button class="close">X</button>
</section>