<div class="form">
  <h2>Signup!</h2>

  <ul class="errors">
    <% @user.errors.full_messages.each do |err_msg| %>
      <li><%= err_msg %></li>
    <% end %>
  </ul>

  <form action="/users" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for="user_username">Username</label>
    <input
      type="text"
      name="user[username]"
      id="user_username"
      value="<%= @user.username %>">

    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">

    <input class="button" type="submit" value="Create User!">
  </form>

  <p>Already have an account? <%= link_to 'Login!', new_session_url %></p>
</div>
