<h2>Search!</h2>

<nav class="users-search">
  <label for="username">Username</label>
  <input id="username" type="text" placeholder="Search for users...">

  <label for="">Results</label>
  <ul class="users"></ul>
</nav>
