<% if cat_rental_request.pending? && owner_of_the_cat? %>
  <form action="<%= approve_cat_rental_request_url(cat_rental_request) %>" method="post">
    <input type="submit" value="Approve">
  </form>

  <form action="<%= deny_cat_rental_request_url(cat_rental_request) %>" method="post">
    <input type="submit" value="Deny">
  </form>
<% else %>
  <%= cat_rental_request.status %>
<% end %>