<tr>
  <td><%= cat_rental_request.requester.username %></td>
  <td><%= cat_rental_request.start_date %></td>
  <td><%= cat_rental_request.end_date %></td>
  <td><%= render 'cat_rental_requests/status', cat_rental_request: cat_rental_request %></td>
</tr>