<table>
  <thead>
    <tr>
      <th scope="column">Requester</th>
      <th scope="column">Start date</th>
      <th scope="column">End date</th>
      <th scope="column">Status</th>
    </tr>
  </thead>
  <tbody>
    <% cat_rental_requests.each do |cat_rental_request| %>
      <%= render 'cat_rental_requests/table_row', cat_rental_request: cat_rental_request %>
    <% end %>
  </tbody>
</table>