/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  max-width: 900px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Faster One', cursive;
  font-weight: normal;
  font-size: 60px;
}

header h1 a {
  color: black;
  text-decoration: none;
}

.current-user {
  display: inline-block;
  margin-right: 16px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  margin-right: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
}

.button_alt {
  background-color: rgb(180, 0, 0)
}

.button_band {
  background-color: rgb(136, 209, 0);
}

.button:last-child, .button_to:last-child .button {
  margin-right: 0;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.button-row .button {
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.button_to {
  display: inline-block;
}

input {
  font: inherit;
}

input[type="submit"] {
  align-self: center;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
}

.error {
  color: rgb(180, 0, 0);
  font-weight: bold;
  font-size: 80%;
  margin-top: 8px;
}
