<h1>All the cats in the world</h1>

<a href="<%= new_cat_url %>">Add cat</a>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <a href="<%= cat_url(cat) %>">Rent <%= cat.name %></a>
    </li>
  <% end %>
</ul>