<div class="form">
  <form class="tweet-compose" data-tweets-ul="#feed">
    <textarea name="tweet[content]" placeholder="What's on your mind?"></textarea>
    <p><strong class="chars-left">140</strong> characters left</p>

    <div class="user-mentions">
    </div>

    <div class="new-tweet-buttons">
      <button class="button add-mention">Add mention</button>
      <input class="button button-create" type="Submit" value="Post Tweet!">
    </div>
  </form>
</div>
