.main-content {
  padding: 20px 0;
}

.main-article {
  margin-bottom: 20px;
}

.main-article li {
  list-style: initial;
  margin: 15px;
  font-family: $serif;
  font-size: 14px;
}

.main-article > a:last-of-type {
  color: $darkest-blue;
}

.middle-section {
  margin-bottom: 20px;
}

.middle-section iframe {
  margin-bottom: 6px;
}

.aside-section > header {
  text-align: center;
  margin-bottom: 10px;
}

.aside-section li {
  font-family: $serif;
  font-size: 13px;
  list-style: disc;
  font-weight: bold;
  margin: 2px 0;
  margin-left: 15px;
}

.aside-section article {
  margin-bottom: 10px
}

.thumbnail {
  height: 100px;
  object-fit: cover;
}

.submit-input {
  display: flex;
  margin: 5px 0;
}

.submit-input input {
  flex: 1;
  border: 1px solid $gray;
  padding-left: 10px;
}

.submit-input button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.signup-form {
  margin-bottom: 20px;
}