<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'bundle', defer: true %>
  <title>Todos App</title>
</head>
<body>
  <p>Logged in as: <%= current_user.username %></p>
  <form action="/session" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
  <div id="root"></div>
</body>
</html>