/* PHASE 2: Notifications */

.badge::after {
  content: attr(data-badge);
  display: inline;
  font-size: 0.875em;
  padding: 1px 6px;
  margin-left: 4px;
  background-color: #000;
  border-radius: 50%;
}

.dropdown:hover .badge::after {
  background-color: #f00;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -1px;
  font-size: 0.875em;
  white-space: nowrap;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  color: #000;
}

.dropdown-list > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.dropdown-list > li:hover {
  background-color: #eee;
}

.dropdown:hover .dropdown-list {
  height: auto;
}
